* {
    margin: 0%;
    padding: 0%;
}

header {
    padding: 23px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainLogo {
    height: 46px;
    width: 167px;
}

.sign {
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

main {
    width: 440px;

}

.icon{
    font-size: 22px;
}

.warning{
    background-color: #d89d31;
    font-weight: 500;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    margin: 10px 0px 20px 0px;
}

.step {
    font-size: 13px;
}

span{
    font-weight: 500;
}

.welcome {
    font-size: 2rem;
    font-weight: 600;
}

.password-cap {
    font-size: 18px;
    font-weight: 500;
    width: 400px;
}

.email-lable {
    font-size: 18px;
}

#emailid {
    font-weight: 500;
}

.form-floating{
    margin: 20px 0px;
}

.forgot{
    text-decoration: none;
}

.start {
    height: 58px;
    width: 100%;
    background-color: rgb(240, 27, 27);
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding: 0px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
margin-top: 20px;
}

footer{
    background-color: #f3f3f3;
    padding: 20px 65px;
    color: #737373;
    margin-top: 150px;
}

.call{
    font-weight: 500;
}

#select-Langauge {
    text-align: start;
    background-color: white;
    color: #737373;
    padding: 13px 30px;
    margin-top: 10px;
    font-size: 15px;
    position: relative;
    border :1px solid #737373;
}

.svg{
    position: absolute;
    z-index: 3;
    color: #737373;
    margin-left: 5px;
}

.option {
    color: black;
}